repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: requirements-txt-fixer
      - id: check-docstring-first
      - id: mixed-line-ending
        args: [ '--fix=lf' ]


  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.1
    hooks:
      - id: ruff
        entry: ruff check --extend-select I --fix
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.15.0'
    hooks:
      - id: mypy
        language: system
        pass_filenames: false
        args: ["--enable-incomplete-feature=NewGenericSyntax", '.']


  - repo: local
    hooks:
      - id: test-coverage
        name: Run tests with coverage
        entry: bash -c "coverage run -m pytest && coverage html && coverage report"
        language: system
        always_run: true
        pass_filenames: false
